

/* font family add */
.adlam {
      font-family: "ADLaM Display", serif;
      font-weight: 400;
      font-style: normal;
    }
.sora {
      font-family: "Sora", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }



/* customize color  */
.primary-text{
      color: #FFDC26;
}
.bg-header{
      background: #FFF9F4;
}


/* banner section css */
.bg-cat{
      background: url(../c1-assets/cat-big.png) center center no-repeat;
}
.banner-content {
      padding-top: 47px;
}
















/* extra responsive */
@media screen and (max-width:576px) {
      #banner-section .bg-cat{
            background: none;
      }
      
}