

/* font family add */
.adlam {
      font-family: "ADLaM Display", serif;
      font-weight: 400;
      font-style: normal;
    }
.sora {
      font-family: "Sora", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    }



/* customize color  */
.primary-text{
      color: #FFDC26;
}
.bg-header{
      background: #FFF9F4;
}


/* banner section css */
.bg-cat{
      background: url(../c1-assets/cat-big.png) center center no-repeat;
}
.banner-content {
      padding-top: 47px;
}

/* animation */
.animation{ animation: animation .4s; animation-iteration-count: infinite }
@keyframes animation {
    0%, 33%, 100% {
        transform-origin: bottom;
        animation-timing-function: cubic-bezier(.17,.67,.79,1.83)
    }
    33% { transform: translateY(-2px) rotate(-3deg) }
    66% { transform: translateY(2px) rotate(3deg) }
}



/* category section */
.card-bg{
      background: #F9DF8A;
}












/* extra responsive */
@media screen and (max-width:576px) {
      #banner-section .bg-cat{
            background: none;
      }
      
}